@import '../styles/colors.scss';

.trunk-button {
  $highlight-color: lighten($main-color, 25%);

  background-color: $main-color;
  padding: 12px 0;
  border-radius: 45px;
  cursor: pointer;
  width: 100%;
  border: none;
  -webkit-appearance: none;
  border: 2px solid $main-color;

  &:focus {
    border-color: $highlight-color;
    outline: none;
  }

  &:hover {
    background-color: lighten($main-color, 3%);
    border-color: lighten($main-color, 3%);
  }

  &:active {
    background-color: $highlight-color;
    border-color: $highlight-color;
  }
  
  p {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
  }
}