@import '../styles/spacing.scss';
@import '../styles/colors.scss';

$sidebar-width: 400px;
$sidebar-inner-padding: $large-page-spacing;

section.sidebar {
  display: flex;
  justify-content: flex-end;

  .sidebar-inner {
    flex: 0 1 $sidebar-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      max-width: 155px;
      flex: 0 0 auto;
      align-self: center;
      margin: $large-page-spacing 0;
      cursor: pointer;
    }

    .search-area {
      margin: 0 $sidebar-inner-padding;
      flex: 1 1 auto;

      .pro-tip {
        color: rgba($grey-color, 0.55);
        font-size: 13px;
        margin-top: 16px;
        line-height: 18px;

        span.bold {
          font-weight: 700;
        }
        span.query {
          font-family: Inconsolata, monospace;
          color: rgba($trunk-color, 0.55);
        }
      }
    }

    .personal-area {
      margin: $sidebar-inner-padding;
      display: flex;
      flex-direction: column;

      .logout {
        margin-top: 16px;
      }

      .copy-announce-url {
        margin-top: 32px;
      }

      .about-me {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .stats {
          p {
            color: white;
          }
          td:nth-child(1) {
            padding-right: 16px;
            line-height: 24px;
          }
          td:nth-child(2) p {
            font-family: Inconsolata, monospace;
            color: $trunk-color;
            font-size: 15px;
            text-align: right;
          }
        }

        p {
          color: white;
          font-size: 14px;

          &.user {
            font-weight: 700;
            color: $trunk-color;
          }
        }
      }
    }
  }
}