@import '../styles/spacing.scss';

$sidebar-width: 400px;
$sidebar-inner-padding: $large-page-spacing;

section.sidebar {
  display: flex;
  justify-content: flex-end;

  .sidebar-inner {
    flex: 0 1 $sidebar-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .logo {
      max-width: 155px;
      flex: 0 0 auto;
      align-self: center;
      margin: $large-page-spacing 0;
    }

    .logout {
      margin: $sidebar-inner-padding;
    }
  }
}