@import '../styles/animation.scss';

.tag {
  padding: 9px 18px;
  background-color: rgba(255,255,255,0.2);
  display: inline-block;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition-duration: $hover-fade-duration;
  box-sizing: border-box;
  max-width: 100%;

  &.system-tag {
    background-color: rgba(113, 128, 148, 0.65);
    cursor: default;
  }

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: rgba(255,255,255,0.3);
      transition-duration: 0s;
    }
  }

  &:last-child {
    margin-right: 0;
  }
  
  p {
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
