@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';

.torrent-detail {
  padding: $large-page-spacing;
  display: flex;

  .torrent-detail-inner {
    max-width: 600px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
  }

  .title-wrapper {
    display: flex;

    h1 {
      font-size: 24px;
      font-weight: 700;
      color: white;
      line-height: 31px;
      flex: 1 1 100%;
      margin-right: 24px;
      margin-bottom: 24px;
      word-break: break-word;
    }
    .download-button {
      width: 50px;
      height: 50px;
      margin-bottom: 24px;
      cursor: pointer;
    }
  }

  .upload-info {
    color: rgba(255, 255, 255, 0.45);
    font-size: 14px;
    margin-top: 34px;
  }

  &.hide-detail {
    background-color: $lighter-black-color !important;
  }

  .spinner-wrapper {
    margin-top: 60px;
    display: inline-block;
  }

  .detail-rating-bar {
    margin: 24px 0 19px 0;
  }

  .user-engagement-wrapper {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-bottom: 32px;

    .comment:first-child, .rating:first-child {
      margin-top: 10px;
    }
  }
}