@import '../styles/colors.scss';
@import '../components/sidebar.scss';

.main-page-wrapper {
  width: 100%;
  display: flex;

  section.sidebar {
    flex: 1 0 $sidebar-width;
    background-color: $black-color;
  }
  section.torrent-list {
    flex: 0 1 650px;
    background-color: $lighter-black-color;
    box-sizing: border-box;
  }
  section.torrent-detail {
    flex: 1 0 500px;
    background-color: $main-color;
  }
}