@import '../../styles/spacing.scss';

section.torrent-list {
  padding: $large-page-spacing;

  .empty {
    color: white;
    font-size: 14px;
    text-align: center;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}