@import '../../styles/colors.scss';
@import '../../styles/spacing.scss';
@import '../../styles/animation.scss';

$torrent-list-entry-color: #272626;

.torrent-list-entry-wrapper {
  margin-bottom: $large-page-spacing / 2;
  
  &:last-child {
    margin-bottom: 0;
  }

  .comment-preview-wrapper {
    margin-left: 26px;
    margin-bottom: 50px;

    .has-more {
      color: rgba(255, 255, 255, 0.25);
      margin-top: 27px;
      text-transform: uppercase;
      font-size: 12px;

      &:hover {
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
      }
    }
  }
}

.torrent-list-entry {
  background-color: $torrent-list-entry-color;
  padding: 26px;
  padding-bottom: 22px;
  border-radius: 6px;
  transition-duration: $hover-fade-duration;
  position: relative;

  &:hover {
    background-color: lighten($torrent-list-entry-color, 3%);
    transition-duration: 0s;
  }

  &.selected {
    background-color: $main-color;
  }


  h1 {
    font-size: 18px;
    font-weight: 700;
    color: white;
    line-height: 24px;
    margin-top: -3px;
    word-break: break-word;
  }

  .bottom-text {
    display: flex;
    margin-top: 30px;
    align-items: flex-end;
    justify-content: space-between;

    .upload-info {
      color: rgba(255, 255, 255, 0.45);
      font-size: 14px;
      margin-bottom: 4px;
    }

    .seeders-leechers {
      display: flex;
      align-items: center;
      font-size: 14px;

      .seeders {
        color: $green-color;
        margin-right: 10px;
      }
      .leechers {
        color: $red-color;
      }
    }
  }


  .tag-list {
    margin: 16px 0 11px 0;
  }

  .triangle {
    $triangle-size: 15px;

    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $triangle-size $triangle-size $triangle-size 0;
    border-color: transparent $main-color transparent transparent;
    right: -$large-page-spacing;
    top: calc(50% - #{$triangle-size});
  }
}